<div class="container">
  <h1>New article</h1>
  <%= form_for :article, url: admin_article_create_path, html: {class: 'articles-entry-create'} do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>