<nav class="menu">
  <span class="menu-heading"><span class="octicon octicon-gear"></span> Manage</span>
  <a href="<%= url_for(administration_path) %>" class="menu-item">Articles</a>
  <a href="#" class="menu-item">Users</a>
</nav>