<div class="container">
  <h1>Edit article</h1>
  <%= render 'shared/flash' %>
  <%= form_for(:article, url: administration_article_update_path(@article), html: {class: 'articles-entry-create'}) do |f| %>
      <%= render :partial => 'article_form', :locals => {:f => f} %>
  <% end %>
</div>