<div class="container">
  <h1>New article</h1>

  <form class="articles-entry-create">
    <div class="form-details">
      <input aria-label="Title" autofocus="autofocus" class="input-large input-block input-contrast" placeholder="Title" required="required" size="30" tabindex="1" type="text">

      <div class="tabnav">
        <nav class="tabnav-tabs">
          <a href="#" class="tabnav-tab selected">Write</a>
          <a href="#" class="tabnav-tab">Preview</a>
        </nav>
      </div>
    </div>
    <div class="form-actions">
      <button type="button" class="btn btn-primary">Save article</button>
      <button type="button" class="btn">Cancel</button>
    </div>
  </form>

</div>