<div class="search">
  <div class="container">
    <div class="flex-table">
      <div class="flex-table-item flex-table-item-primary">
        <div class="control">
          <span class="octicon octicon-search"></span>
          <input type='text' placeholder="Have a Question? Ask or enter a search term here." class='search-control' value=""/>
        </div>
      </div>
      <div class="flex-table-item">
        <div class="action">
          <button class="btn" type="button">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>