
.articles-entry-create {
  .tabnav {
    margin-top: 10px;
  }

}

.articles-search {
  margin-bottom: 10px;
}

.articles-entries {
  .entry {
    margin-bottom: 20px;
    h2 {
      margin-top: 0;
      a {
        color: #222;
      }
    }
    .read {
      font-size: 11px;
      font-weight: 600;
      background: none;
      border: 2px solid #eaeaea;
      color: #3498DB;
      padding: 7px 12px;
      cursor: pointer;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      -webkit-transition: ease all 0.5s;
      -o-transition: ease all 0.5s;
      transition: ease all 0.5s;
    }
    .tags {
      a {
        color: #3e6d8e;
        padding: 5px;
        font-size: 12px;
        white-space: nowrap;
        background: #e4edf4;
        border: 1px solid #e4edf4;
        display: inline-block;
        margin: 2px 2px 2px 0;
        border-radius: 0;
        -webkit-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
        -moz-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
        -ms-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
        -o-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
      }
    }
  }
}