.articles-entry-create {
  .tabnav {
    margin-top: 10px;
  }
  .tab-content {
    padding-bottom: 10px;
    display: none;
    &#write {
      display: block;
    }
  }
  select {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .summary {
    display: block;
    width: 100%;
    min-height: 50px;
    max-height: 150px;
    padding: 10px;
    resize: vertical;
    margin-bottom: 10px;
  }
  .content {
    display: none;
  }
}

.articles-search {
  margin-bottom: 10px;
}

.articles-entries {
  .entry {
    margin-bottom: 20px;
    &:not(:first-child) {
      padding-top: 10px;
      border-top: 2px solid #eaeaea;
    }
    h2 {
      margin-top: 0;
      a {
        color: #222;
      }
    }
    .read {
      font-size: 11px;
      font-weight: 600;
      background: none;
      border: 2px solid #eaeaea;
      color: #3498DB;
      padding: 7px 12px;
      cursor: pointer;
      @include border-radius(40px);
      @include transition(ease all 0.5s);
    }
  }
}

.article-show {
  h1 {
    font-size: 2.4em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  time {
    color: #585858;
    font-weight: 600;
    font-size: 1.1em;
  }
  .content {
    margin-top: 20px;
    font-size: 1.1em;
  }
}