.home {
  .widget {
    margin-top: 20px;
    .title {
      border-bottom: 1px solid #E5E5E5;
      padding-bottom: 3px;
      color: #444;
      position: relative;
      margin-bottom: 0px;
      font-size: 1.8em;
    }
    .content {
      margin-top: 10px;
      margin-bottom: 20px;
      ul {
        li {
          list-style-type: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 0;
          font-size: 1.1em;
        }
        margin-bottom: 20px;
      }
    }
  }
}