<div class="contact-footer">
  <div class="header">
    <h2><%= image_tag('icons/email.png') %> Contact Us</h2>
  </div>
  <p>Monday Friday 9am to 6pm Eastern Time. It is 8:22am at the office. We are currently closed.</p>
</div>